body {
    font-family: italic;
    background-color: white;
    background-image :<img src = "http://www.thequotesland.com/wp-content/uploads/2016/05/25-Crystals-3D-Abstract-Background-in-HD.jpg"/>;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 240px;
    
}
 
.container
{
   max-width:1100px;
   margin:0 auto;
   color: red;
   font-family: sans-serif;
}

.new
{
    max-width:1800px;
    margin:0 auto;
    color: blue;
    font-family: sans-serif;
    text-align: center;
    
}

.neww
{
    max-width:900px;
    margin:0 auto;
    color: red ;
    font-family: sans-serif;
} 

.neww1
{
    max-width:900px;
    margin:0 auto;
    color: black ;
    font-family: sans-serif;
} 

.font
{
    font-size: 250%; 
}

