body {
    font-family: italic;
    background-color: white;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 240px;
    
}
 
.container
{
   max-width:1100px;
   margin:0 auto;
   color: red;
   font-family: sans-serif;
}

